@import url(https://fonts.googleapis.com/css?family=Lato:700);

body {
    margin: auto;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: "Lato", sans-serif;
}

.container {
    width: 500px;
    height: 400px;
    text-align: center;
    /*background-color: #34495E;*/
    background-color: rgba(52,73,94,0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}

.container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 30px;
}

input[type="submit"] {
    padding: 15px 30px;
    cursor: pointer;
    height: 55px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    background-color: #2ECC71;
    border-bottom: 4px solid #27AE60;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    color: yellow;
}

a {
    color: #fff;
    font-size: 18px;
}

a:hover {
    color: yellow;
}

.form-input::before {
    /*content:"\f007";
    position: absolute;
    font-family: "FontAwesome";
    padding-left: 5px;
    padding-top: 5px;
    font-size: 30px;*/
}